

.contBox{
    /* border: 1px solid #0C8F00; */
    overflow: hidden;
    float: left;
}

.datePickerSlider{
    /* border: 1px solid #FF0000; */
    overflow: hidden;
}

.btn{
    width: 100px;
    height: 100px;
    outline-color: red;
    margin: 1px;
}

.btn:active{
    background-color: #E5FF00;
}

.btn--el{
    background-color: #8A8A8A;
    border: 1px solid #575757;
    float: left;
    display: none;
}

.btn--active{
    background-color: red;
}

.btn--ctrl{
    float: left;
}




    